html {
    overflow-y: scroll; /* Forzar que siempre aparezca la barra de desplazamiento vertical */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h5 {
    font-weight: bold;
    color: #ff6f3c; 
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff6f3c;
}

#logo {
    width: 10%;
    margin-right: 5%;
}

.logo-titulo {
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.container {
    margin: auto;
    padding: 2%;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.categorias {
    margin-top: 0;
}

#buscador {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#buscador:focus {
    border-color: #ff6f3c;
    outline: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button.btn {
    background-color: #ff6f3c;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.btn:hover {
    background-color: #e65c29;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Animación de aparición de las cards */
.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

#carta {
    display: flex;
    justify-content: left;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.alert {
    background-color: #ffebcc;
    border: none;
    color: #ff6f3c;
    border-radius: 20px;
    font-weight: bold;
    width: 30%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .navbar {
        text-align: center;
    }

    .card {
        margin-bottom: 10px;
        max-width: 100%;
    }

    #logo {
        width: 10%;
        margin-right: 1%;
    }

    .logo-titulo {
        align-items: center;
        margin-left: 1%;
    }

    .logo-titulo a {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    #buscador {
        margin-bottom: 15px;
    }

    .navbar-brand {
        font-size: 5rem; 
    }

    .card {
        margin-bottom: 20px; 
        max-width: 100%;
    }
}
